body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #f9f7f3, #ece7de);
    font-family: Arial, sans-serif;
    margin: 0;
}

.accueil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 80px;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    width: 250px;
    padding: 12px;
    background: #3b352f;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: background 0.3s;
}

button:hover {
    background: #5a524a;
}
/* Positionne le texte en haut à droite */
.logout-text {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #3b352f;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.logout-text:hover {
    color: #5a524a;
    text-decoration: underline;
}

